
:root {
  --main-transition: 0.3s;
  --section-padding: 100px;
}
/* Colors Palette */
:root {
  --main-color: #44bda2;
  --main-color-alt: #1d5247;
  --secondery-color: #3cb3dc;
  --body-color: #fff;
  --text-color: #000;
  --text-color-alt: #777;
  --title-color: #0B111E;
  --background-color: #e0eafc;
}
/* Colors Pallette Dark Theme */
body.dark-theme {
  --container-color: #151c28;
  --body-color: #0B111E;
  --title-color: #F0F2F4;
  --text-color: #F0F2F4;
  --background-color: #BABEC4;
}
/* Start Global Rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Playfair Display", serif;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: var(--main-transition);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */
/* Start Components */
/* Spinner Loading */
.spinner {
  /* display: none; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
}
.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

.main-btn {
  text-decoration: none;
  display: block;
  width: fit-content;
  padding: 0.9rem 1.5rem;
  border: 1px solid black;
  border-radius: 3rem;
  font-weight: normal;
  font-size: 1.3rem;
  color: var(--main-color);
  transition: var(--main-transition);
}
.main-btn:hover {
  color: white;
  background-color: var(--main-color);
  border-color: transparent;
}
.main-title {
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  margin: 0.6rem auto;
  width: fit-content;
  color: var(--title-color);
  transition: var(--main-transition);
}
.main-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 40px;
  height: 55px;
  background-color: var(--main-color);
  z-index: -1;
  transform: skewX(-33deg);
  transition: var(--main-transition);
}
.main-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: -19px;
  width: 0;
  height: 55px;
  background-color: var(--secondery-color);
  z-index: -1;
  transform: skewX(-33deg);
  transition: var(--main-transition);
  transition-delay: 0.3s;
}
.main-title:hover {
  color: white;
  transition-delay: 0.3s;
}
.main-title:hover::before {
  width: calc(100% + 25px);
}
.main-title:hover::after {
  width: 15px;
}
a.scroll-top {
  padding: 0.5rem 0.7rem;
  background-color: var(--main-color);
  border-radius: 3px;
  right: 30px;
  position: fixed;
  color: white;
  bottom: 30px;
  z-index: 100;
}
/* End Components */
/* Start Header */
header {
  background-color: var(--background-color);
  transition: var(--main-transition);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 72px;
}

header img {
  height: 60px;
  padding-right: 1rem;
}
header .container > a {
  text-decoration: none;
  font-weight: normal;
  color: var(--title-color);
  font-size: 1.5rem;
  border-left: 3px solid var(--secondery-color);
  padding-left: 1rem;
}
@media (max-width: 620px) {
  header .container > a {
    display: none;
  }
}
header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .toggle-btn {
  display: none;
  font-size: 1.9rem;
  cursor: pointer;
}
@media (min-width: 1269px) {
  header nav .toggle-menu {
    display: none;
  }
}
header nav ul {
  display: flex;
}
@media (max-width: 1270px) {
  header nav ul {
    display: none;
  }
  header nav .toggle-btn {
    display: flex;
    font-size: 1.5rem;
  }
  header nav ul li {
    border-bottom: 1px solid var(--main-color);
  }
  header nav ul li a {
    padding: 0.5rem !important;
  }
}
header nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  position: relative;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0 1.1rem;
  color: var(--title-color);
  transition: var(--main-transition);
  position: relative;
  overflow: hidden;
}
header nav li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  bottom: 0;
  left: -100%;
  transition: var(--main-transition);
}
header nav li a:hover {
  color: var(--main-color);
  background-color: #cfdef3;
}
header nav li a:hover::before {
  left: 0;
}
header .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 30px;
  position: relative;
  padding-left: 1rem;
  margin-left: 1.5rem;
  border-left: 3px solid var(--secondery-color);
}
header .icons i {
  font-size: 1.5rem;
}
.lang {
  color: var(--text-color);
  font-size: 1.3rem;
  
}
/* Start Toggle Menu */
header .nav-left {
  position: fixed;
  top: 0;
  left: -1000px;
  width: 50%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: var(--title-color);
  z-index: 2;
  transition: 0.5s;
}
@media (max-width: 767px) {
  header .nav-left {
    width: 90%;
  }
}
header .nav-left .nav-close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
header .nav-left .nav-list li {
  padding-bottom: 2rem;
}
header .nav-left .nav-list li a {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: normal;
  color: white;
  transition: var(--main-transition);
}
header .head {
  position: absolute;
  top: 2rem;
  left: 1rem;
}
header .head a {
  position: absolute;
  font-size: 1.5rem;
  top: 0;
  color: var(--main-color);
}
header .show {
  left: 0;
}
header .close {
  left: -1000px;
}
header .nav-left .nav-list li a:hover {
  color: var(--main-color);
}
/* End Toggle Menu */
/* Start Header */
/* Start Landing */
.landing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: calc(100vh - 72px);
  position: relative;
  background-color: var(--background-color);
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .landing {
    height: auto;
  }
}
.landing .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing .social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-left: 2rem;
  border-bottom: 1px solid var(--main-color);
  border-top: 1px solid var(--main-color);
  padding: 15px 0;
}
.landing .social::before {
  content: "";
  position: absolute;
  width: 1px;
  top: -9rem;
  height: 9rem;
  background-color: var(--main-color);
}
.landing .social::after {
  content: "";
  position: absolute;
  width: 1px;
  bottom: -10.5rem;
  height: 10.5rem;
  background-color: var(--main-color);
}
.landing .social i:hover {
  color: var(--main-color);
}
.landing .social a {
  display: block;
  width: fit-content;
  font-size: 1.8rem;
  color: var(--text-color-alt);
}
.landing .image img {
  width: 20rem;
  border-radius: 50%;
  max-width: 100%;
  margin-right: 3rem;
}
@media (max-width: 991px) {
  .landing .image img {
    margin-right: 0;
  }
}
.landing .info {
  align-self: flex-start;
}
.landing .info h2 {
  font-size: 3.5rem;
  margin: 2rem auto;
  color: var(--main-color);
}
.landing .info p {
  font-size: 1.5rem;
  max-width: 500px;
  line-height: 1.5;
  color: var(--text-color);
  margin-bottom: 2rem;
}
.landing .info i {
  margin-left: 1rem;
}
@media (max-width: 767px) {
  .landing {
    padding-top: 30px;
  }
  .landing .container {
    flex-direction: column;
  }
  .landing .social {
    order: 3;
    flex-direction: row;
    margin-left: 0;
  }
  .landing .social::before,
  .landing .social::after {
    display: none;
  }
  .landing .image img {
    margin: 3rem auto;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .landing .info {
    margin-left: 30px;
  }
  .landing .info h2 {
    font-size: 2.5rem;
  }
  .landing .image img {
    width: 15rem;
  }
}
/* End Landing */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding-top: 3rem;
}
.services .card {
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--body-color);
  /* border: 2px solid var(--secondery-color); */
  transition: var(--main-transition);
  box-shadow: 0 2px 15px rgb(0 0 0 / 40%);
}
.services .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 50%);
}
.services .card img {
  max-width: 100%;
}
.services .info {
  padding: 0 1rem;
  text-align: center;
}
.services .info h3 {
  margin: 1rem 0;
  font-size: 1.3rem;
  color: var(--main-color);
}
.services .info img {
  max-width: 100%;
  width: 100px;
  height: 100px;
}
.services .info p {
  color: var(--text-color);
  line-height: 2;
}
.services .info a {
  display: block;
  width: fit-content;
  text-decoration: none;
  border: 1px solid var(--main-color);
  padding: 1rem 6rem;
  border-radius: 0.9rem;
  margin: 1rem auto;
  color: var(--text-color);
  font-weight: normal;
  font-size: 1rem;
  text-transform: uppercase;
  transition: var(--main-transition);
}
.services .info a:hover {
  border-color: transparent;
  background-color: var(--main-color);
  color: white;
}
/* End Services */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding-top: 3rem;
}
.portfolio .card {
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.portfolio .card .image {
  position: relative;
  overflow: hidden;
}
.portfolio .card img {
  max-width: 100%;
}
.portfolio .info {
  position: relative;
  padding: 1rem 2rem;
  border: 2px solid;
  border-color: transparent var(--main-color) var(--main-color);
  padding-top: 0;
  margin-top: -6px;
}
.portfolio .card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: var(--background-color);
  z-index: -1;
  transition: var(--main-transition);
}
.portfolio .card:hover::before {
  width: 100%;
}
.portfolio .info h3 {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--main-color);
  padding: 2rem 0;
}
.portfolio .info p {
  line-height: 2;
  font-size: 1.1rem;
  border-bottom: 1px solid var(--secondery-color);
  padding: 0 0 1rem;
  color: var(--text-color);
}
.portfolio .info a {
  font-size: 1rem;
  color: var(--text-color);
  padding: 1rem 0.9rem;
  border: 1px solid var(--main-color);
  border-radius: 6px;
  display: block;
  width: fit-content;
  margin: 1rem auto;
  text-transform: uppercase;
  transition: var(--main-transition);
}
.portfolio .info a:hover {
  background-color: var(--main-color);
  border-color: transparent;
  color: var(--background-color);
}
/* End Portfolio */
/* Start Pricing */
.pricing {
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding-top: 3.5rem;
}
.pricing .plan {
  position: relative;
  background-color: var(--background-color);
  transition: var(--main-transition);
  padding-bottom: 2rem;
  border: 4px solid var(--secondery-color);
}
.pricing .plan::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 5px;
  background-color: var(--main-color);
  z-index: 2;
  transition: var(--main-transition);
}
.pricing .plan::after {
  content: "";
  /* position: absolute; */
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 10px;
  background-color: var(--main-color);
  z-index: 2;
  transition: var(--main-transition);
}
/* .pricing .plan:hover::before {
  width: 100%;
} */
.pricing .plan h2 {
  font-size: 1.5rem;
  font-weight: normal;
  padding: 2rem 0;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}
.pricing .plan .head {
  background-color: var(--secondery-color);
}
.pricing .plan .head h2 {
  color: white;
}
/* .pricing .plan .head {
  position: relative;
  background-color: var(--main-color);
  width: 50%;
  margin: 1rem 0;
  text-align: center;
  padding: 1rem;
  border-radius: 0 2rem 2rem 0;
}
.pricing .plan .head h3 span {
  font-size: 2.5rem;
} */
.pricing .plan .price {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 0.7rem;
  border-radius: .4rem .4rem 0 0;
  background-color: var(--secondery-color);
}
.pricing .plan .price h3 {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: normal;
  color: var(--body-color);
}
.pricing .plan .features {
  margin: 3rem;
  text-align: center;
}
.pricing .plan ul li {
  position: relative;
  padding: 1rem;
  font-size: 1.2rem;
  border-top: 1px solid var(--secondery-color);
}
.pricing .plan ul li::before {
  content: "\f00c";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.3rem;
  left: 0;
  color: var(--main-color);
}
.pricing .plan .unchecked {
  position: relative;
  color: var(--text-color-alt);
}
.pricing .plan .unchecked::before {
  content: "\f00d";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.3rem;
  left: 0;
  color: var(--main-color);
}
.pricing .plan a {
  display: block;
  width: fit-content;
  margin: 1rem auto;
  padding: 1rem 6rem;
  font-size: 1.1rem;
  border: 1px solid var(--secondery-color);
  color: var(--text-color);
  /* margin-bottom: 2.5rem; */
  transition: var(--main-transition);
}
.pricing .plan a:hover {
  color: var(--body-color);
  border-color: transparent;
  background-color: var(--secondery-color);
}
/* End Pricing */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact h2:nth-child(2) {
  text-align: center;
  margin: 3rem 0;
  font-weight: normal;
  font-size: 2rem;
}
@media (max-width: 767px) {
  .contact h2:nth-child(2) {
    font-size: 1.5rem;
  }
}
.contact .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.contact .box {
  position: relative;
  width: 320px;
  padding: 1rem 6rem;
  text-align: center;
  border-radius: 0.75rem;
  background-color: #0b111e;
  color: var(--body-color);
  transition: var(--main-transition);
}
.contact .box::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0;
  left: 50%;
  background-color: var(--main-color);
  transform: translateX(-50%);
  transition: var(--main-transition);
}
.contact .box:hover::before {
  width: calc(100% - 0.75rem);
}
.contact .box i {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.contact .box h3 {
  font-size: 1.2rem;
  font-weight: normal;
  padding-bottom: 0.5rem;
}
.contact .box p {
  font-size: 1.1rem;
  padding-bottom: 0.7rem;
}
.contact .box a {
  font-size: 1.2rem;
  color: var(--main-color);
}
/* End Contact */
/* Start Contact */
.order {
  height: 100vh;
}
.order .content {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .order {
    height: auto;
    padding-bottom: 1rem;
  }
  .order .content {
    flex-direction: column;
  }
}
.order .heading {
  background-image: linear-gradient(180deg, #44bda2, #5c9d8c);
  flex: 50%;
  padding: 2rem 1.5rem;
  text-align: center;
  color: var(--body-color);
  height: 100%;
  animation: change-background 10s ease-in infinite;
}
.order .heading h1 {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 3rem;
}
.order .heading i {
  font-size: 5rem;
  padding-bottom: 1rem;
}
.order .heading h2 {
  font-size: 3rem;
  line-height: 2;
}
.order .form {
  flex: 50%;
  padding: 2rem 1.5rem;
}
.order .form h2 {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
}
.order .form form {
  display: flex;
  flex-direction: column;
}
.order .form form .contact_form {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}
.order .form form .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color);
  background: none;
  color: var(--text-color);
  outline: none;
  padding: 1.5rem;
  border-radius: 0.75rem;
  caret-color: var(--secondery-color);
  z-index: 1;
}
.order .form form .contact_form textarea {
  resize: none;
  height: 7rem;
}
.order .form form .submit-btn {
  position: relative;
  display: block;
  width: fit-content;
  margin: 0;
  bottom: -40px;
  padding: 0.7rem 2rem;
  left: 0;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  font-size: 1.1rem;
  border-radius: 0.75rem;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: var(--main-transition);
}
.order .form form .submit-btn:hover {
  background-color: var(--title-color);
  color: var(--body-color);
  border-color: transparent;
}
.order .tag {
  position: absolute;
  color: var(--main-color);
  top: -0.75rem;
  left: 1.25rem;
  background-color: var(--body-color);
  font-size: 1.2rem;
  padding: 0.25rem;
  z-index: 10;
}
/* Start Contact */
/* Start Footer */
.footer {
  /* padding-top: var(--section-padding); */
  background-color: var(--background-color);
  position: relative;
}
.footer .curve {
  /* position: absolute; */
  top: 0;
  height: 100px;
  border-radius: 100% / 0 0 100% 100%;
  background: var(--body-color);
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3rem;
}
@media (max-width: 767px) {
  .footer .container {
    gap: 1rem;
  }
}
.footer img {
  max-width: 100%;
  height: 60px;
}
.footer .container .links > a {
  color: var(--main-color);
  max-width: 200px;
  font-size: 2rem;
}
.footer .links nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  padding: 1rem 0;
}
.footer .links nav li {
  width: fit-content;
  list-style: none;
  padding-bottom: 1rem;
}
.footer .links nav li a {
  color: var(--text-color);
}
.footer .links nav li a:hover {
  color: var(--secondery-color);
}
.footer .social {
  /* padding: 2rem 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
@media (max-width: 460px) {
  .footer .social {
    flex-direction: row;
  }
}
.footer .social a {
  display: block;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--title-color);
}
.footer .social a:hover i {
  color: var(--main-color);
}
.footer .social i {
  color: var(--background-color);
  font-size: 1.2rem;
}
.footer .location {
  padding-top: 1rem;
}
@media (max-width: 767px) {
  .footer .location {
    padding-bottom: 2rem;
  }
}
.footer .location .col {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.footer .location .col .info {
  flex: 1;
  line-height: 2;
}
.footer .location i {
  font-size: 2rem;
  color: var(--title-color);
  padding-right: 2rem;
}
.footer .location span a{
  font-size: 1.2rem;
  color: var(--title-color);
}
.footer .location .languages {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer .copyright {
  width: 100%;
}
.footer p {
  display: block;
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid var(--main-color);
  font-size: 1.3rem;
  color: var(--title-color);
}
@media (max-width: 767px) {
  .footer .container .location span {
    display: block;
  }
}
.footer p a {
  color: var(--secondery-color);
  font-weight: bold;
}
.footer i {
  color: rgb(255 0 0 / 85%);
}
/* End Footer */
/* Scroll Bar */
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: #44bda34d;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color-alt);
}

/* Theme Change */
.change-theme {
  cursor: pointer;
  transition: var(--main-transition);
}
/* Color changes */
.dark-theme header,
.dark-theme .landing {
  background-color: var(--body-color);
}
.dark-theme .nav-left {
  background-color: var(--container-color);
}
.dark-theme .main-btn {
  border-color: var(--main-color);
}
.dark-theme .services .card {
  background-color: var(--container-color);
  box-shadow: 0 2px 15px rgba(255, 255, 255, 20%);
}
.dark-theme .services .card h3 {
  color: #fff;
}
.dark-theme .services .card:hover {
  box-shadow: 0 2px 15px rgb(255 255 255 / 30%);
}
.dark-theme .portfolio .card::before {
  background-color: var(--container-color);
}
.dark-theme .pricing .plan {
  background-color: var(--body-color);
}
.dark-theme .pricing .plan li::before {
  color: var(--text-color);
}
.dark-theme .contact .box {
  background-color: var(--main-color-alt);
  color: var(--title-color);
}
.dark-theme .footer {
  background-color: var(--main-color-alt);
}
.dark-theme .footer .social a {
  background-color: var(--container-color);
}
.dark-theme .footer .location span {
  color: var(--text-color);
}
.dark-theme .footer .copyright p {
  border-color: var(--secondery-color);
}

/* Start Animation */
@keyframes change-background {
  0%,
  100% {
    background-image: linear-gradient(180deg, #44bda2, #5c9d8c);
  }
  50% {
    background-image: linear-gradient(160deg, #44bda2, #28a59e);
  }
}
/* Spinner Animation */
@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}
/* End Animation */
